/* allgemein */
body {
    background-image: url(../assets/BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0.5em;
    
    }

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4D3528;
    grid-column: span 7;
    text-align: center;
    }

#logo > img {
    height: 120px;
    width: 120px;
}
/* settings screen */    
#Screen1 {
    color: #4D3528;
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.8em;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 8em;
    justify-content: center;
    display: grid;
}
#form {
    background-color:#cc8e6a83;
    border-radius: 0.5em;
    margin-top: 5%;
    width: 400px;
    height: 250px;
}
fieldset {
    margin: auto;
    border-style: none;
    margin-top: 5%;
    border-radius: 0.5em;
    background-color: white;
    width:300px;
    height: 70px;
}
legend {
    color: #4D3528;
    font-weight: bold;
    background-color: white;
    border-radius: 0.5em;
    width: 70%;
    text-align: center;
    line-height: 1.6em;
    padding: 2%;

}

#start {
    margin-top: 5%;
    height: 30px;
    width: 70px;
    color: rgb(255, 255, 255);
    background-color: #4D3528;
    border-radius: 0.5em;
    transform: scale(1.2);
}

#start:hover {
    transform: scale(1);
    transition: .3s ease;
}

/* farm simulation screen */
#Screen2{
    display: none;
    color: #4D3528;
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#deck {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 0.5em;
    height: auto;
    width: auto;
    padding: 10px;
}
#garden {
    border-radius: 0.5em;
    background-image: url(../assets/field.jpg);
    background-size: cover;
    height: 640px;
    width: 750px;
    margin-right: 10px;
}
 
/* in ts erstellte divs für felder und reihen (row) und die bar */
.row {
    display: flex;
    height: 90px;
    width: 750px;
}
.field {
    margin: 5px;
    height: 65px;
    width: 90px;
    border: 3px solid bisque;
    border-radius: 3px;
    transform: scale(1);
}
.field:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
    background-color: #4D3528;
}
.state {
    right: 0;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 3;

}

/* bis hier hin */
#info {
    position: absolute;
    border-radius: 0.5em;
    background-image: url(../assets/wood.jpg);
    background-size: cover;
    margin-left: 770px;
    height: 620px;
    width: 500px;
    padding: 10px;
}
#storage {
    border-radius: 0.5em;
    background-color: white;
    height: 200px;
    width: 520px;
    margin-bottom: 10px;
}
#market {
    border-radius: 0.5em;
    background-color: white;
    height: 400px;
    width: 520px;
}
p {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

/*.items {
    display: flex;
    flex-direction: row;
}*/
.items {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 5px;
    padding: 10px;
    border: 2px solid rgb(139,90,43);
    border-radius: 5px;
}
img {
    height: 40px;
    width: 40px;
    margin: 1%;
    transform: scale(1);
}
img:hover {
    transform: scale(1.5);
    transition: .3s ease-in-out;

}
/* boxen oben rechts für gekaufte produkte */
.stockcounter {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(139,90,43);
    color: rgba(242, 235, 235);
    border-radius: 5px;
    margin: -12px;
}

#capital {
    border-radius: 0.5em;
    background-color: #4D3528;
    color: #f2f2f2;
    height: 30px;
    width: 80px;
    margin: 5px;
    box-shadow: 2px 2px 5px #aaaaaa;
}
#currentSellPrice {
    border-radius: 0.5em;
    background-color: #f2f2f2;
    color: #4D3528;
    height: 30px;
    width: 80px;
    margin: 5px;
    box-shadow: 2px 2px 5px #aaaaaa;
}

/* Market Tabelle */
#table1 {
    margin: 1%;
    width: 98%;
}

th {
    text-align: left;
    background-color: #4D3528;
    border-radius: 00.2rem;
    color: white;
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
tr:nth-child(even) {background-color: #f2f2f2;} /* abwechselnde Tabellenfarbe */

#table2 {
    margin: 1%;
    width: 70%;
}

